<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bamborademoapp</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mobilepayonline-test</string>
		<string>mobilepayonline</string>
		<string>mobilepay-test</string>
		<string>mobilepay</string>
		<string>vippsmt</string>
		<string>vipps</string>
		<string>swish</string>
	</array>
</dict>
</plist>
